data.table
testthat
future
future.apply
targets
tarchetypes
qs
fs
RcppTOML
httr
rvest
xml2
knitr
kableExtra
mgsub
stringi
pdftools
readtext
quanteda
quanteda.textstats
quanteda.textplots
spacyr
udpipe
textcat
igraph
ggraph
visNetwork
ggplot2
scales
viridis
RColorBrewer
zip
renv
